.eggs/
__pycache__/
*.pyc
*.egg-info

.pytest_cache/
.python_test_build/
.python_test_build_ocp/

build/
dist/
htmlcov/
my_optimizers/
opengen.egg-info/
opengen/icasadi/extern/Makefile
run/
venv*/
virt/
