[package]
name = "{{meta.optimizer_name()}}"
version = "{{meta.version()}}"
license = "{{meta.licence()}}"
authors = ["{{meta.authors()|join('", "')}}"]
edition = "2018"
publish=false


[dependencies]
#TODO: Important! Change this in production to:
#optimization_engine = "{{open_version or '*'}}"
optimization_engine = { path = "../../../../" }
icasadi = {path = "./icasadi/"}
